@use 'variables'

@mixin container
    max-width: variables.$container-width
    padding: 1.5rem 0 
    


@mixin flex-content
    display: flex
    justify-content: space-around
    align-items: center

@mixin flex-center
    display: flex
    align-items: center
    justify-content: center

@mixin  img-intro($img)
        background-image: url('../img#')
    


@mixin bg-img($img)
      background-image: url('../img/#{$img}')
      background-size: 100%
      background-position: center
      background-repeat: no-repeat
      filter: grayscale(100%)
      transition: .6s

      &:hover
          background-size: 110%
          filter: grayscale(0%)
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),  url('../img/#{$img}')


@mixin img-mobile
    @media screen and (max-width: 800px)
         img
             display: none


@mixin mobile()
    @media screen and (max-width: 800px)
        
        header
            background-color: variables.$text-color
            width: 100%
            max-height: 90%
            
    
            nav
                background-color: variables.$bg-color