@use 'variables'
@use 'mixins'

    
*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: variables.$bg-color
    font-family: 'Share'

    header
        color: variables.$primary-color
        font-family: 'Share'
        padding: 1.5rem 0 
        text-transform: uppercase
        margin-bottom: 10%
    
        nav
            width: 90%
            
            border: 1px solid #FF611D
            margin: 0 auto

            ul
                width: 100%
                height: 100%
                @include mixins.flex-center
                list-style: none
                justify-content: space-around

            
                a 
                    color: variables.$text-color
                    text-decoration: none
                    transition: .4s
                    font-size: 15px
                    margin-left: 26%
                    
                    &:hover
                            color: variables.$primary-color

                .img-logo
                    width: 100px
                    margin-right: auto

                    img
                        width: 100%
            .box-li
                @include mixins.flex-center
                margin-right: 20px

                li
                    margin: 0 1rem
                    text-transform: uppercase
                    font-size: .9rem
                    color: variables.$text-color
                    margin-left: 30px
          

        .header-intro
            width: 100%
            height: 450px
            margin-top: 6%         
            letter-spacing: .1rem

            .content
                width: 50%
                height: 100%
                border: 1px solid #FF611D
                position: relative
                margin: 0 auto
                padding-top: 7%

                .box
                    width: 50%
                    margin: 0 auto
                    
                    .intro
                        font-family: variables.$textI
                        text-transform: uppercase
                        font-size: 2em
                        margin: 6% 0px 6% 0
                
                    .intro-4
                        color: variables.$text-color
                        font-family: variables.$textI
                        font-size: 2em

                    .btn-intro
                        margin-top: 30%
                        width: 100%
                        display: flex
                        justify-content: center

                        button
                            background-color: #FF611D
                            color: #fff
                            height: 48px
                            border-radius: 18.84px
                            width: 65%
                            font-size: 10px
                            border: none
                            text-transform: uppercase
                            

                            &:hover
                                color: variables.$bg-color
                                transition: .3s
                                cursor: pointer

    //     @media query and (max-width: 800px)
    //         header
    //             display: none

    //             nav
    //                 display: none
                    

    section
        background-color: variables.$primary-color
        margin-top: 7%

        .section-intro
            text-align: center
            width: 100%
            padding-top: 10%


            .h2-about
                text-transform: uppercase
                font-family: variables.$textS
                font-size: 28pt
                color: variables.$bg-color

                &::before
                    content: ""
                    position: absolute
                    border-bottom: 1px solid #27461f
                    width: 16%
                    height: 5%

    
        .about-box
            @include mixins.flex-content

            .about-text
                width: 600px
                margin-top: 10%
                margin-bottom: 10%
                text-align: justify
                font-family: variables.$textI


        .about-skills
            text-transform: uppercase
            font-family: variables.$textS
            font-size: 12pt
            color: variables.$bg-color

            .text
                text-align: center
                margin-bottom: 10%

                &::before
                    content: ""
                    position: absolute
                    border-bottom: 1.5px solid #27461f
                    width: 16%
                    height: 2%
            
            .skills
                width: 100x
                text-align: center
                border: 1px solid black
                
                ul
                    @include mixins.flex-center
                    text-decoration: none

                    li
                        text-decoration: none
                        margin: 10px 10px 

                        img
                            width: 100px
                            width: 112.26px
                            



                        
                    
                    
    article
        height: 700px
        background-color: variables.$text-color

        .article-projects
            width: 100%
            height: 100px
           
           

            .project-h2
                margin-left: 38%
                padding-top: 10%
                font-family: variables.$textI
                text-transform: uppercase
                font-size: 28pt
                -webkit-text-stroke: .3px white
                
                .section-intro
                    height: 100%
                    max-width:100vh
                    margin-top: -25px    
                    
                    img 
                        width: 220px
                        padding-left: 95px
        
        .main-projects-box
            @include mixins.container
            @include mixins.flex-center
            margin: 0 20%
            flex-wrap: wrap
            justify-content: space-between
            padding: 0
            margin-top:5%

            
            
            

            .projects-box
                @include mixins.flex-center
                background-color: variables.$bg-color
                width: 31%
                height: 200px
                margin-bottom:5%
                flex-direction: column
                color: variables.$primary-color

                 
                
               
                &:hover
                    cursor: pointer
                    transform: scale(1.1)
                    transition: 0.5s
                    box-shadow: 0 15px 15px rgba(0,0,0,0.6)
                
                .p-box
                    text-transform: uppercase
                    font-size: 10pt
                    font-family: variables.$textS
                




                .box-btn
                    background-color: variables.$primary-color
                    color: variables.$bg-color
                    height: 22px
                    border-radius: 50px
                    width: 66%
                    border: none
                    text-transform: capitalize
                    margin-top: 15%

                    &:hover
                        cursor: pointer
                        border: 1px solid variables.$primary-color
                        background-color: variables.$bg-color
                        color: variables.$primary-color
                        transition: .3s

    // aside
    //     height: 600px
    //     width: 100%
    //     background-color: variables.$bg-color

    //     .aside-contacts
    //         width: 100%
    //         height: 200px
    //         @include mixins.flex-center

    //         .aside-intro
    //             font-size: 28pt
    //             font-family: variables.$text
    //             text-transform: uppercase
    //             color: variables.$text-color
    //             font-weight: 300
            
    //             .section-intro
    //                 height: 100%
    //                 max-width:100vh
    //                 margin-top: -25px    
                    
    //                 img 
    //                     width: 220px
    //                     padding-left: 95px
    //     .aside-box
    //         width: 500px
    //         height: 300px
    //         background-color: variables.$text-color
    //         margin-left: 25%
    //         padding-top: 40px
            

    //         .box-contact
    //             display: flex
    //             flex-direction: row
    //             margin: 0 50px 15px 50px
    //             padding-left: 15px

    //             img
    //                 width: 35px
    //                 height: 40px
                
    //             a
    //                 text-decoration: none
                    
    //                 p
    //                     padding-top: 16px
    //                     padding-left: 15px
    //                     font-family: variables.$text
    //                     color: variables.$bg-color
    //                     text-transform: uppercase

    //                 .sp-icon
    //                     width: 350px
    //                     border: 1px solid #000000
    //                     margin-left: 4%
    
    // footer
    //     width: 100%
    //     height: 70px
        

    //     .footer-box
    //         @include mixins.flex-center
    //         align-items: center
            
    //         .box-registred
    //             color: variables.$primary-color
    //             font-family: variables.$text
    //             font-size: 12pt
    //             margin-top: 4%

// ************* responsividade***************************

   
                        
                            




            


                

 
                                 

            

            
                
                
                
            
