* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: "Share";
}
body header {
  color: #fff;
  font-family: "Share";
  padding: 1.5rem 0;
  text-transform: uppercase;
  margin-bottom: 10%;
}
body header nav {
  width: 90%;
  border: 1px solid #FF611D;
  margin: 0 auto;
}
body header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}
body header nav ul a {
  color: #FF611D;
  text-decoration: none;
  transition: 0.4s;
  font-size: 15px;
  margin-left: 26%;
}
body header nav ul a:hover {
  color: #fff;
}
body header nav ul .img-logo {
  width: 100px;
  margin-right: auto;
}
body header nav ul .img-logo img {
  width: 100%;
}
body header nav .box-li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
body header nav .box-li li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #FF611D;
  margin-left: 30px;
}
body header .header-intro {
  width: 100%;
  height: 450px;
  margin-top: 6%;
  letter-spacing: 0.1rem;
}
body header .header-intro .content {
  width: 50%;
  height: 100%;
  border: 1px solid #FF611D;
  position: relative;
  margin: 0 auto;
  padding-top: 7%;
}
body header .header-intro .content .box {
  width: 50%;
  margin: 0 auto;
}
body header .header-intro .content .box .intro {
  font-family: "Inter", cursive;
  text-transform: uppercase;
  font-size: 2em;
  margin: 6% 0px 6% 0;
}
body header .header-intro .content .box .intro-4 {
  color: #FF611D;
  font-family: "Inter", cursive;
  font-size: 2em;
}
body header .header-intro .content .box .btn-intro {
  margin-top: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}
body header .header-intro .content .box .btn-intro button {
  background-color: #FF611D;
  color: #fff;
  height: 48px;
  border-radius: 18.84px;
  width: 65%;
  font-size: 10px;
  border: none;
  text-transform: uppercase;
}
body header .header-intro .content .box .btn-intro button:hover {
  color: #242424;
  transition: 0.3s;
  cursor: pointer;
}
body section {
  background-color: #fff;
  margin-top: 7%;
}
body section .section-intro {
  text-align: center;
  width: 100%;
  padding-top: 10%;
}
body section .section-intro .h2-about {
  text-transform: uppercase;
  font-family: "Share", cursive;
  font-size: 28pt;
  color: #242424;
}
body section .section-intro .h2-about::before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #27461f;
  width: 16%;
  height: 5%;
}
body section .about-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body section .about-box .about-text {
  width: 600px;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: justify;
  font-family: "Inter", cursive;
}
body section .about-skills {
  text-transform: uppercase;
  font-family: "Share", cursive;
  font-size: 12pt;
  color: #242424;
}
body section .about-skills .text {
  text-align: center;
  margin-bottom: 10%;
}
body section .about-skills .text::before {
  content: "";
  position: absolute;
  border-bottom: 1.5px solid #27461f;
  width: 16%;
  height: 2%;
}
body section .about-skills .skills {
  width: 100x;
  text-align: center;
  border: 1px solid black;
}
body section .about-skills .skills ul {
  display: flex;
  align-items: center;
  text-decoration: none;
}
body section .about-skills .skills ul li {
  text-decoration: none;
  margin: 10px 10px;
}
body section .about-skills .skills ul li img {
  width: 100px;
  width: 112.26px;
}
body article {
  height: 700px;
  background-color: #FF611D;
}
body article .article-projects {
  width: 100%;
  height: 100px;
}
body article .article-projects .project-h2 {
  margin-left: 38%;
  padding-top: 10%;
  font-family: "Inter", cursive;
  text-transform: uppercase;
  font-size: 28pt;
  -webkit-text-stroke: 0.3px white;
}
body article .article-projects .project-h2 .section-intro {
  height: 100%;
  max-width: 100vh;
  margin-top: -25px;
}
body article .article-projects .project-h2 .section-intro img {
  width: 220px;
  padding-left: 95px;
}
body article .main-projects-box {
  max-width: 980px;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  margin: 0 20%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-top: 5%;
}
body article .main-projects-box .projects-box {
  display: flex;
  align-items: center;
  background-color: #242424;
  width: 31%;
  height: 200px;
  margin-bottom: 5%;
  flex-direction: column;
  color: #fff;
}
body article .main-projects-box .projects-box:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.6);
}
body article .main-projects-box .projects-box .p-box {
  text-transform: uppercase;
  font-size: 10pt;
  font-family: "Share", cursive;
}
body article .main-projects-box .projects-box .box-btn {
  background-color: #fff;
  color: #242424;
  height: 22px;
  border-radius: 50px;
  width: 66%;
  border: none;
  text-transform: capitalize;
  margin-top: 15%;
}
body article .main-projects-box .projects-box .box-btn:hover {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: #242424;
  color: #fff;
  transition: 0.3s;
}

/*# sourceMappingURL=styles.css.map */
