@use 'colors' as cor
@use 'mixins' as m
@use 'variables' as v
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

    body
        background: cor.$fundo
        color: cor.$text

        header
            width: 100%
            margin-bottom: 200px
            max-width: 1280px
            display: block
            margin: 0 auto

        main
            width: 100%
            max-width: 1280px
            display: block
            margin: 0 auto

            section
                width: 100%
                height: auto


